# Python environment and cache
venv/
__pycache__/
*.pyc

# Local system files
.DS_Store

# Configs containing sensitive data
wifi_config.json

# DO NOT upload these heavy local AI models/binaries
models/
