[Unit]
Description=Solaria Local AI Server Engine (DietPi Optimized)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/solaria
ExecStart=/bin/bash /root/solaria/auto_run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
